<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/manchester-angular-workshop/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/manchester-angular-workshop/index.html">Home</a></li>
	        		<li><a href="/manchester-angular-workshop/blog/index.html">Blog</a></li>
		        	<li><a href="/manchester-angular-workshop/about.html">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:darrylbrown@darrylbrown.co.uk">email</a></li>
	        		<li><a href="https://github.com/ConsultDarryl/manchester-angular-workshop">github.com/ConsultDarryl/manchester-angular-workshop</a></li>
				</ul>
			</footer>
		</body>
	</html>
